<link href="/Content/css/bootstrap-rtl.css" rel="stylesheet" />
<link href="/Content/font-awesome.css" rel="stylesheet" />
<link href="/Content/ngBehavior.css" rel="stylesheet" />

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="col-md-4 col-md-offset-4">
        <h1>ngRating Example</h1>
        <hr/>
        <ng-tags lang="en" set-tags="{{myTags}}"></ng-tags>
        <ul>
            <li ng-repeat="tag in tags">{{tag}}</li>
        </ul>
        <button ng-click="getMyTags()">console my tags</button>
        <button ng-click="getMyRemovedTags()">console my removed tags</button>
    </div>
</div>

<script src="/Scripts/jquery-2.1.3.min.js"></script>
<script src="/Scripts/angular.min.js"></script>
<script src="/Scripts/angular-sanitize.min.js"></script>
<script src="/ngTags.js"></script>
<script type="text/javascript">
    angular.module("myApp", ["ngBehavior"]).controller("myCtrl", function ($scope, $http) {

        $http.get("tags.txt").success(function (data) {
            $scope.allTags = data;
        });

        $scope.myTags = ["Tablet", "Mark"];
        $scope.getMyTags = function() {
            console.log($scope.tags);
        }

        $scope.getMyRemovedTags = function () {
            console.log($scope.removedTags);
        }
    });
</script>
