/*ngTimePicker*/
.timepicker {
    width: 100%;
    background: #fff;
    border: solid 1px #ccc;
}

    .timepicker input {
        border: none;
        background: transparent;
        text-align: center;
        outline: none;
    }

    .timepicker input {
        width: 33.3333%;
        padding: 10px;
    }

        .timepicker input:focus {
            background: #eee;
        }

    .timepicker small {
        font-family: Tahoma;
    }


/*ngTags*/
.tag {
    border: solid 1px #ccc;
    position: relative;
    padding: 2px 5px;
    cursor: text;
}

    .tag input {
        width: 200px;
        border: none;
        outline: none;
        padding: 5px 0;
    }

.suggestion-tag-list {
    width: 100%;
    margin: 0;
    padding: 5px;
    right: 0;
    top: 100%;
    border: solid 1px #ccc;
    background: #fff;
    position: absolute;
    z-index: 1000;
}

    .suggestion-tag-list li {
        list-style: none;
        background: #fff;
        border: solid 1px #ccc;
        padding: 5px 15px;
        color: #000;
        display: block;
        margin: 1px 0 0 0;
        cursor: pointer;
    }

        .suggestion-tag-list li.selected,
        .suggestion-tag-list li:hover {
            background: crimson;
            color: #fff;
        }

.tag-list {
    margin: 0;
    padding: 0;
}

    .tag-list li.has-input {
        background: transparent;
        padding: 0;
    }

    .tag-list li {
        list-style: none;
        overflow: hidden;
        background: crimson;
        color: #fff;
        display: inline-block;
        padding: 5px 15px;
        margin: 3px 2px 0 0;
        cursor: pointer;
        position: relative;
    }

        .tag-list li.selected {
            background: #000;
        }

        .tag-list li span {
            background: #ffffff;
            background: rgba(255, 255, 255, 0.5);
            color: #000;
            position: absolute;
            right: -100%;
            width: 100%;
            top: 0;
            bottom: 0;
            padding: 5px 0;
            text-align: center;
            font-size: 1.5em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
        }

        .tag-list li:hover span {
            right: 0;
        }



.timespan {
    width: 100%;
    padding: 8px 0;
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
    display: table;
}

    .timespan span {
        width: 50%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        border-radius: 5px;
        position: relative;
    }

    .timespan > span > small {
        color: #cccccc !important;
    }

    .timespan span input {
        text-align: center;
        width: 100%;
        border: none;
        outline: none;
    }

        .timespan span input:focus {
            color: #0f7f8f;
        }
